.settingsWrapper {
	text-align: left;
}

p {
	margin-bottom: 10px;
	margin-top: 25px;
}

.sliderRed {
	height: 44px;
	border: 2px solid red;
	border-radius: 20px;
}

.sliderGreen {
	height: 44px;
	border: 2px solid green;
	border-radius: 20px;
}

.thumbRed {
	background-color: red;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.thumbGreen {
	background-color: green;
	cursor: pointer;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
